body {
  background: rgb(97, 97, 234);
  font: normal 15pt Arial;
}

h1 {
  text-align: center;
  color: white;
}

head {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.263);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="submit"] {
  background: white;
  border: 2px solid blue;
  font-weight: bold;
}
input[type="submit"]:hover {
  background: rgb(3, 242, 255);
}
